---
export function getStaticPaths() {
  return [
    {params: {artist: "Joel_Lithgow", artwork: "Mountian"}},
  ]
}

import Layout from "../../../../layouts/Layout.astro";

const { artist, artwork } = Astro.params;
---

<Layout title="House Gallery | { artist } - { artwork }">
  <p>{ artist }</p>
  <p>TITLE</p>
  <p>{ artwork }</p>
</Layout>

<script>
  import artwork_data_src from "../../data/thisisalivingroom-images.json";
  let artwork_data = artwork_data_src["@graph"];

  console.log( artwork_data );
</script>
