{% load wagtailimages_tags %}

<section class="gallery-block gallery-columns">
    {% if gallery.title %}
        <h2 class="gallery-title">{{ gallery.title }}</h2>
    {% endif %}
    
    {% if gallery.description %}
        <div class="gallery-description">{{ gallery.description|linebreaks }}</div>
    {% endif %}
    
    <div class="gallery-container gallery-columns-container">
        {% for gallery_image in gallery.gallery_images.all %}
            <div class="gallery-single-image">
                {% with gallery_image.image.get_display_optimized as img %}
                <img src="{{ img.url }}" alt="{{ gallery_image.caption|default:gallery_image.image.alt|default:gallery_image.image.title }}" class="quickview-item" loading="lazy">
                {% endwith %}
                {% if gallery_image.caption %}
                    <div class="gallery-caption">{{ gallery_image.caption }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>