/* Variable fonts - just 2 files instead of 14! */
@font-face {
    font-family: "SourceCodePro";
    src: url("../../fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 200 900;
    font-style: normal;
}

@font-face {
    font-family: "SourceCodePro";
    src: url("../../fonts/SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 200 900;
    font-style: italic;
}
