---
import { Debug } from 'astro:components';

import * as db from "../../../../utils/db-handler.js";
import * as image_db from "../../../../utils/image-db-handler.js";
import Layout from "../../../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { slugify, csvStringToArray } from "../../../../utils/basic-javascript.js";

export function getStaticPaths() {
  return db.get_all_artwork().map( artwork => {
    
    // seralize data
    artwork["Images"] = image_db.get_artwork_images( artwork["ID"] );

    // global page data
    return {
      params: { 
        artist: slugify(artwork["Artist"]),
        artworkID: slugify(artwork["ID"])
      },
      props: { item: artwork }   
    };
  });
}

// scoped page data
const { artist, artworkID } = Astro.params;
const { item } = Astro.props;

const processed_images = import.meta.glob("/src/media/exhibition-images/*.{jpeg,jpg,png,gif}");

// Seralize single string of artists into array
// maybe not...
// should do a whole folder restructure :(((
---

<Layout title={`House Gallery | ${ item["Artist"] } | ${ item["Title"] }`}>
  <main>
    <section class="info">
      <a href="/artwork">
        <p>> artwork</p>
      </a>
      <p class="info__title" set:html={ item["Title"] } />

      <hr />

      <p>Artist: <a class="info__name" href=`/artwork/${ slugify(item['Artist']) }`>{ item["Artist"] }</a></p>
      <p>Date: { item["Date"] }</p>
      <p>Size: { item["Size"] }</p>
      <p>Materials: { item["Materials"] }</p>
      <p>Exhibition: <a href={`/exhibitions#${slugify(item['Exhibitions'])}`}>{ item["Exhibitions"] }</a></p>
    </section>

    <section>
      <!-- <p>Images:</p> -->
      <section class="info__images">
        { item["Images"].map(( item ) => (
          <Image 
            class="info__image" 
            src={ processed_images[`/src/media/exhibition-images/${ item.photo[0].filename }`]() }
            alt=""
            width="1440"
            format="webp"
            role="img"
          />
        ))}
      </section>
    </section>

    <section class="main-image">
      <Image 
        class="main-image__image" 
        src={ processed_images[`/src/media/exhibition-images/${ item["Cover"].photo[0].filename }`]() }
        alt=""
        width="1440"
        format="webp"
        role="img"
      />
      <p class="main-image__detail"><span set:html={ item['Title'] }/> ({ item['Date'] }), { item['Artist'] }</p>
    </section>
  </main>
</div>

<script is:inline>
  main_image = document.querySelector(".main-image__image");
  thumbnails = document.querySelectorAll(".info__image");

  console.log( thumbnails );

  thumbnails.forEach( item => {
    item.addEventListener( "click", () => {
      main_image.src = item.src;
    });
  });
</script>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--space-section-gap);
    margin: var(--space-section-gap) var(--space-page-gutter);
  }

  @media only screen and (min-width: 860px) {
    main {
      display: grid;
      grid-template-columns: 3fr 5fr;
      gap: var(--space-section-gap);
    }
  }

  .main-image {
    height: auto;
    max-height: 80vh;
    justify-self: right;
    margin-bottom: var(--space-element-gap);

    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;

    & img {
      height: 100%;
      max-height: 77vh;
      width: auto;
      object-fit: contain;
    }

    &__detail {
      font-size: var(--font_size-detail);
      font-weight: var(--font_weight-light);
    }
  }

  .info {
    color: var(--color-surface-primary-text);

    &__name {
      font-size: var(--font_size-paragraph);
      display: inline-block;

      & p {
        margin: 0;
      }
    }

    &__title {
      font-size: var(--font_size-heading);
      font-weight: var(--font_weight-heavy);
    }

    &__images {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    &__image {
      width: auto;
      object-fit: cover;
    }

    &__image {
      aspect-ratio: 1/1;
      height: 77px;
    }
  }
</style>
