{% load wagtailimages_tags %}

<div class="gallery-all-images">
    {% if display_style == 'scattered' %}
        {% now "U" as current_timestamp %}
        {% for image in images %}
            {% with current_timestamp|add:image.id|add:forloop.counter0 as seed %}
                {% if seed|divisibleby:3 %}
                    <div class="gallery-image gallery-item--small">
                        {% with image.get_web_optimized as img %}
                        <img src="{{ img.url }}" alt="{{ image.alt|default:image.title }}"  loading="lazy">
                        {% endwith %}
                    </div>
                {% else %}
                    {% if seed|divisibleby:2 %}
                        <div class="gallery-image gallery-item--medium">
                            {% with image.get_web_optimized as img %}
                            <img src="{{ img.url }}" alt="{{ image.alt|default:image.title }}"  loading="lazy">
                            {% endwith %}
                        </div>
                    {% else %}
                        <div class="gallery-image gallery-item--large">
                            {% with image.get_display_optimized as img %}
                            <img src="{{ img.url }}" alt="{{ image.alt|default:image.title }}"  loading="lazy">
                            {% endwith %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% empty %}
            <p class="gallery-empty">No images found in the gallery</p>
        {% endfor %}
    {% else %}
        <div class="gallery-images">
            {% for image in images %}
                <div class="gallery-image">
                    {% with image.get_display_optimized as img %}
                    <img src="{{ img.url }}" alt="{{ image.alt|default:image.title }}"  loading="lazy">
                    {% endwith %}
                </div>
            {% empty %}
                <p class="gallery-empty">No images found in the gallery</p>
            {% endfor %}
        </div>
    {% endif %}
</div>