{% load wagtailimages_tags %}

{% if display_style == 'scattered' %}
    {% now "U" as current_timestamp %}
    {% with current_timestamp|add:value.image.id as seed %}
        {% if seed|divisibleby:3 %}
            <div class="gallery-single-image gallery-item--small">
                {% image value.image width-1440 format-webp as img %}
                <img src="{{ img.url }}" alt="{{ value.caption|default:value.image.title }}" class="quickview-item" loading="lazy">
                {% if value.caption %}
                    <div class="gallery-caption">{{ value.caption }}</div>
                {% endif %}
            </div>
        {% else %}
            {% if seed|divisibleby:2 %}
                <div class="gallery-single-image gallery-item--medium">
                    {% image value.image width-1440 format-webp as img %}
                    <img src="{{ img.url }}" alt="{{ value.caption|default:value.image.title }}" class="quickview-item" loading="lazy">
                    {% if value.caption %}
                        <div class="gallery-caption">{{ value.caption }}</div>
                    {% endif %}
                </div>
            {% else %}
                <div class="gallery-single-image gallery-item--large">
                    {% image value.image width-1440 format-webp as img %}
                    <img src="{{ img.url }}" alt="{{ value.caption|default:value.image.title }}" class="quickview-item" loading="lazy">
                    {% if value.caption %}
                        <div class="gallery-caption">{{ value.caption }}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endwith %}
{% else %}
    <div class="gallery-single-image">
        {% image value.image width-1440 format-webp as img %}
        <img src="{{ img.url }}" alt="{{ value.caption|default:value.image.title }}" class="quickview-item" loading="lazy">
        {% if value.caption %}
            <div class="gallery-caption">{{ value.caption }}</div>
        {% endif %}
    </div>
{% endif %}