---
import Layout from "../../layouts/Layout.astro";
import QuickviewThumbnails from "../../components/quickview-thumbnails.astro";
import ExhibitionListingItem from "../../components/organisms/exhibition-listing-item.svelte";

/* Move to utils */
const shuffle = (array: string[]) => {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
};

import ImageData from "../../data/thisisalivingroom-images.json";
const images = ImageData["@graph"];
const curatedPhotos = images.filter( item => {
  return ( item.tag.includes("Exhibition") || item.tag.includes("Cover") );
});

import LeastFavWorkImageData from "../../data/yourleastfavwork-images.json";
const leastfavwork_image_data = LeastFavWorkImageData["@graph"];
let leastfavwork_images = leastfavwork_image_data.filter( item => {
  return (
    item.tag.includes("Opening") 
    || item.tag.includes("Cover") 
    || item.tag.includes("Exhibition")
  )
});
leastfavwork_images = shuffle(leastfavwork_images);

---
<Layout title="Exhibitions | House Gallery">
  <QuickviewThumbnails></QuickviewThumbnails>

  <div class="layout">
    <ExhibitionListingItem client:load
        title = "Your Least Fav Work"
        title_slug = "yourleastfavwork"
        gallery_images = { leastfavwork_images }
        card_images = {{
           front_src: "/exhibitions/yourleastfavwork/showcards/showcard-main--front.jpg",
           back_src: "/exhibitions/yourleastfavwork/showcards/showcard-main--back.jpg",
         }}
        date="08.19 - 09-01"
    />

    <ExhibitionListingItem client:load
        title = "This is a Living Room"
        title_slug = "thisisalivingroom"
        gallery_images = { curatedPhotos }
        card_images = {{
           front_src: "/exhibitions/thisisalivingroom/Showcard001.jpg",
           back_src: "/exhibitions/thisisalivingroom/showcard-back.jpg",
         }}
        date="06.23 - 07.07"
    />
  </div>
</Layout>

<style lang="scss">
  .layout {
    padding: var(--space-base-huge) var(--space-base-large) var(--space-base-large) var(--space-base-large);
    @media (max-width: 675px) {
      padding: var(--space-base-medium) var(--space-base-small) var(--space-base-small) var(--space-base-small);
    }
    @media (max-width: 1024px) {
      padding: var(--space-base-large) var(--space-base-medium) var(--space-base-medium) var(--space-base-medium);
    }
  }
</style>

<script define:vars={{ images, leastfavwork_images }}>
  /* QUICKVIEW FUNCTION OPEN */
  function openQuickview( e ) {
    // get parent id
    const exhibition_id = e.target.closest(".exhibition-title").id;
    console.log(exhibition_id);

    // get image data
    const all_images = images.concat(leastfavwork_images);

    let exhibition_images = all_images;
    switch ( exhibition_id ) {
      case 'thisisalivingroom':
        exhibition_images = images;
        break;
      case 'yourleastfavwork':
        exhibition_images = leastfavwork_images;
        break;
      default:
        console.log("Had trouble finding the exhibition id.");
    }

    const imageData = exhibition_images.find( image => {
      return e.target.attributes.src.value.includes( image.title );
    });

    // seralize data
    // wait wtf am I doing this if I'm just loading the same image
    let activeImageFilename = String.raw`${ imageData.photo[0].filename }`;
    activeImageFilename = activeImageFilename.replace(/\s+/g, "%20"); //format filename to account for spacing
    let selectedImage = e.target.attributes.src.value;
    let imageTags = imageData.tag;
    imageTags = imageTags.filter( tag => {
      return tag !== "Cover";
    });
    let selectedArtwork = imageData.tag.filter( tag => {
      return tag !== "Cover";
    });
    selectedArtwork = selectedArtwork[0];
    const artworkImagesData = exhibition_images.filter( image => {
      return ( image.tag.includes( selectedArtwork ) );
    });
    const artworkImagesSrc = [];
    artworkImagesData.forEach( item => {
      let itemFilename = item.photo[0].filename;
      let itemPath = `/exhibitions/${ exhibition_id }/images/${ itemFilename }`;
      artworkImagesSrc.push( itemPath );
    });

    // send data
    const quickview = document.querySelector(".quickview-thumbnails");
    const quickviewEvent = new CustomEvent( "quickview-open", {
      detail: {
        coverSrc: selectedImage,
        images: artworkImagesSrc,
        title: selectedArtwork,
        exhibition: exhibition_id,
      },
    });
    quickview.dispatchEvent( quickviewEvent );
  }

  /* QUICKVIEW ATTACH HANDLER */
  const quickviewItems = document.querySelectorAll( ".quickview-item" );
  quickviewItems.forEach(( item ) => {
    item.addEventListener( "click", () => {
      openQuickview( event );
    });
  });
</script>
