---
import Layout from "../../layouts/Layout.astro";
import QuickviewThumbnails from "../../components/quickview-thumbnails.astro";

import ImageData from "../../data/thisisalivingroom-image_data-r1-063023.json";
const images = ImageData["@graph"];

const exhibitionPhotos = images.filter( item => {
  return item.tag.includes( "Exhibition" );
});

const primaryArtworkPhotos = images.filter( item => {
  return item.tag.includes( "cover" );
});

const curatedPhotos = images.filter( item => {
  return ( item.tag.includes("Exhibition") || item.tag.includes("Cover") );
});
---

<Layout title="Exhibitions | House Gallery">
  <QuickviewThumbnails></QuickviewThumbnails>

  <div class="layout">

    <article id="thisisalivingroom" class="exhibition">
      <section class="exhibition-header">
        <h2>This is a Living Room</h2>
        <h3>06.23 - 07.07</h3>
      </section>
      <section class="exhibition-media">
        <section class="exhibition-card">
          <img src="/exhibitions/thisisalivingroom/Showcard001.jpg" alt="The promotional showcard for the exhibition 'This is a Living Room' by Joel Lithgow and Joseph Blake with This is a House Gallery."></img>
          <img src="/exhibitions/thisisalivingroom/showcard-back.jpg" alt="The back side of the promotional showcard for the exhibition 'This is a Living Room' by Joel Lithgow and Joseph Blake with This is a House Gallery. It contains the show title, the opening date and address. It also states there will be a cool dog."></img>
        </section>
        <section class="exhibition-images">
          {
            Object.keys( curatedPhotos ).map(( key, i ) => {
              return (
                <img class="quickview-item" alt="An exhibition photo of the show 'This is a living room' by Joel Lithgow and Joseph Blake with This is a House Gallery." src={ "/exhibitions/thisisalivingroom/images/" + curatedPhotos[ key ].photo[0].filename } />
              )
            })
          }
        </section>
      </section>
    </article>
  </div>
</Layout>

<style lang="scss">
  .layout {
    padding: var(--space-base-huge) var(--space-base-large) var(--space-base-large) var(--space-base-large);
    max-width: 1024px;
    @media (max-width: 675px) {
      padding: var(--space-base-medium) var(--space-base-small) var(--space-base-small) var(--space-base-small);
    }
    @media (max-width: 1024px) {
      padding: var(--space-base-large) var(--space-base-medium) var(--space-base-medium) var(--space-base-medium);
    }
  }

  .exhibition {
    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--space-base-medium);
      border-bottom: 1px solid var(--color-base-black);

      & h2 {
        font-size: 2rem;
        font-weight: lighter;
      }

      & h3 {
        font-size: 1.17rem;
        font-weight: lighter;
      }
    }

    &-media {
      display: flex;
      gap: var(--space-base-large);

      @media (max-width: 675px) {
        display: block;
      }
    }
    
    &-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--space-base-small);
      position: sticky;
      top: 60px;
      height: fit-content;

      @media (max-width: 675px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: var(--space-base-medium);
        position: relative;
        top: 0;
      }

      & img {
        max-height: 40vh;
        margin: auto;
      }
    }

    &-images {
      flex: 5;
      display: flex;
      gap: var(--space-base-tiny);
      flex-wrap: wrap;

      & img {
        max-height: 35vh;

        @media (max-width: 675px) {
          max-height: 25vh;
        }
      }
    }
  }

  .quickview-item {
    &:hover {
      cursor: pointer;
    }
  }

</style>

<script define:vars={{ images }}>
  /* QUICKVIEW FUNCTION OPEN */
  function openQuickview( e ) {
    // get data
    const imageData = images.find( image => {
      return e.target.attributes.src.value.includes( image.title );
    });
    console.log(imageData);

    // seralize data
    // wait wtf am I doing this if I'm just loading the same image
    let activeImageFilename = String.raw`${ imageData.photo[0].filename }`;
    activeImageFilename = activeImageFilename.replace(/\s+/g, "%20"); //format filename to account for spacing
    let selectedImage = e.target.attributes.src.value;
    let imageTags = imageData.tag;
    imageTags = imageTags.filter( tag => {
      return tag !== "Cover";
    });
    let selectedArtwork = imageData.tag.filter( tag => {
      return tag !== "Cover";
    });
    selectedArtwork = selectedArtwork[0];
    const artworkImagesData = images.filter( image => {
      return ( image.tag.includes( selectedArtwork ) );
    });
    const artworkImagesSrc = [];
    artworkImagesData.forEach( item => {
      let itemFilename = item.photo[0].filename;
      let itemPath = `/exhibitions/thisisalivingroom/images/${ itemFilename }`;
      artworkImagesSrc.push( itemPath );
    });

    // send data
    const quickview = document.querySelector(".quickview-thumbnails");
    const quickviewEvent = new CustomEvent( "quickview-open", {
      detail: {
        coverSrc: selectedImage,
        images: artworkImagesSrc,
        title: selectedArtwork
      },
    });
    quickview.dispatchEvent( quickviewEvent );
  }

  /* QUICKVIEW ATTACH HANDLER */
  const quickviewItems = document.querySelectorAll( ".quickview-item" );
  quickviewItems.forEach(( item ) => {
    item.addEventListener( "click", () => {
      openQuickview( event );
    });
  });
</script>
