---
import Layout from "../../layouts/Layout.astro";
import QuickviewThumbnails from "../../components/quickview-thumbnails.astro";
import ExhibitionListingItem from "../../components/organisms/exhibition-listing-item.svelte";

import ImageData from "../../data/thisisalivingroom-image_data-r1-063023.json";
const images = ImageData["@graph"];

import LeastFavWorkImageData from "../../data/yourleastfavwork-images.json";
const leastfavwork_images = LeastFavWorkImageData["@graph"].filter( item => {
  return (
    item.tag.includes("Opening") 
    || item.tag.includes("Cover") 
    || item.tag.includes("Exhibition")
  )
});;

const curatedPhotos = images.filter( item => {
  return ( item.tag.includes("Exhibition") || item.tag.includes("Cover") );
});

---
<Layout title="Exhibitions | House Gallery">
  <QuickviewThumbnails></QuickviewThumbnails>

  <div class="layout">
    <ExhibitionListingItem client:load
        title = "Your Least Fav Work"
        title_slug = "yourleastfavwork"
        gallery_images = { leastfavwork_images }
        card_images = {{
           front_src: "/exhibitions/yourleastfavwork/showcards/showcard-main--front.jpg",
           back_src: "/exhibitions/yourleastfavwork/showcards/showcard-main--back.jpg",
         }}
        date="08.19 - 09-01"
    />

    <ExhibitionListingItem client:load
        title = "This is a Living Room"
        title_slug = "thisisalivingroom"
        gallery_images = { curatedPhotos }
        card_images = {{
           front_src: "/exhibitions/thisisalivingroom/Showcard001.jpg",
           back_src: "/exhibitions/thisisalivingroom/showcard-back.jpg",
         }}
        date="06.23 - 07.07"
    />
  </div>
</Layout>

<style lang="scss">
  .layout {
    padding: var(--space-base-huge) var(--space-base-large) var(--space-base-large) var(--space-base-large);
    max-width: 1024px;
    @media (max-width: 675px) {
      padding: var(--space-base-medium) var(--space-base-small) var(--space-base-small) var(--space-base-small);
    }
    @media (max-width: 1024px) {
      padding: var(--space-base-large) var(--space-base-medium) var(--space-base-medium) var(--space-base-medium);
    }
  }
</style>

<script define:vars={{ images }}>
  /* QUICKVIEW FUNCTION OPEN */
  function openQuickview( e ) {
    // get data
    const imageData = images.find( image => {
      return e.target.attributes.src.value.includes( image.title );
    });
    console.log(imageData);

    // seralize data
    // wait wtf am I doing this if I'm just loading the same image
    let activeImageFilename = String.raw`${ imageData.photo[0].filename }`;
    activeImageFilename = activeImageFilename.replace(/\s+/g, "%20"); //format filename to account for spacing
    let selectedImage = e.target.attributes.src.value;
    let imageTags = imageData.tag;
    imageTags = imageTags.filter( tag => {
      return tag !== "Cover";
    });
    let selectedArtwork = imageData.tag.filter( tag => {
      return tag !== "Cover";
    });
    selectedArtwork = selectedArtwork[0];
    const artworkImagesData = images.filter( image => {
      return ( image.tag.includes( selectedArtwork ) );
    });
    const artworkImagesSrc = [];
    artworkImagesData.forEach( item => {
      let itemFilename = item.photo[0].filename;
      let itemPath = `/exhibitions/thisisalivingroom/images/${ itemFilename }`;
      artworkImagesSrc.push( itemPath );
    });

    // send data
    const quickview = document.querySelector(".quickview-thumbnails");
    const quickviewEvent = new CustomEvent( "quickview-open", {
      detail: {
        coverSrc: selectedImage,
        images: artworkImagesSrc,
        title: selectedArtwork
      },
    });
    quickview.dispatchEvent( quickviewEvent );
  }

  /* QUICKVIEW ATTACH HANDLER */
  const quickviewItems = document.querySelectorAll( ".quickview-item" );
  quickviewItems.forEach(( item ) => {
    item.addEventListener( "click", () => {
      openQuickview( event );
    });
  });
</script>
