---
import * as db from "../../utils/db-handler.js";
import * as image_db from "../../utils/image-db-handler.js";
import Layout from "../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { slugify, shuffle } from "../../utils/basic-javascript.js";

let artworks = db.get_all_artwork();
artworks = shuffle( artworks );
---

<Layout title="House Gallery | Artwork">
  <main>
    <section class="page-info">
      <h1>Artwork</h1>
      <h2>Everything that has been shown in this living room.</h2>
    </section>

    <section class="page-images">
      { artworks.map( artwork => (
        <a href={`/artwork/${ slugify(artwork["Artist"]) }/${ slugify(artwork["Title"]) }`}>
          <Image 
            src={ import(`../../media/exhibition-images/${ artwork["Cover"].photo[0].filename }`) }
            alt=""
            densities={[1.5, 2]}
            width="200px"
            height="200px"
          />
        </a>
      ))}
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    display: grid;
    grid-template-columns: 3fr 5fr;
    margin: var(--space-section-gap) var(--space-page-gutter);
    gap: var(--space-section-gap);
  }

  .page-images {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-item-gap);

    & img {
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
  }
</style>
