---
import Layout from '../layouts/Layout.astro';

const leastFavWorkFormUrl = "https://docs.google.com/forms/d/e/1FAIpQLSeAXU7XeqjlyWrvz3lx5VZRW4_Mq9wbQUJO6D8WE7V3iyIVvg/viewform?usp=sf_link";
---

<Layout title="House Gallery">
  <section class="featured">
    <img class="featured-main_image" src="/exhibitions/yourleastfavoritework/Showcard001.jpg" alt="A zoomed in view of the promotional showcard for the exhibition 'Your Least Fav Work' by This is a House Gallery."></img>
    <a href="/schedule/yourleastfavwork">
      <section class="featured-details" onclick="window.leastfavcards.classList.toggle('featured-cards--closed')">
        <h2><i>Your Least Favorite Work</i></h2>
        <h3>Come party with us</h3>
      </section>
    </a>

    </a>
  </section>

  <section class="featured">
    <img class="featured-main_image" src="/exhibitions/thisisalivingroom/Showcard001.jpg" alt="A zoomed in view of the promotional showcard for the exhibition 'This is a Living Room' by Joel Lithgow and Joseph Blake with This is a House Gallery."></img>
    <!-- <section class="featured-details" onclick="window.livingroomcards.classList.toggle('featured-cards--closed')"> -->
    <a href="/exhibitions#thisisalivingroom">
      <section class="featured-details">
        <h2><i>This is a Living Room</i></h2>
        <h3>June 23 - July 07</h3>
      </section>
    </a>

    <!-- Not used since it goes straight to the page, should turn into a component for later on?
    <section id="livingroomcards" class="featured-cards featured-cards--closed" onclick="window.livingroomcards.classList.toggle('featured-cards--closed')">
      <img src="exhibitions/thisisalivingroom/showcard-back.jpg"></img>
      <section class="featured-cards-ctas">
        <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MTQ3djVjbDZpbzZ0b3RnNW9mc25zMnY4bzYgY19iZnFlbGZ1bnU4MjA1cTIyY2hrNjAwNDhxa0Bn&tmsrc=c_bfqelfunu8205q22chk60048qk%40group.calendar.google.com">
          <p>Add to calendar</p>
        </a>
      </section>
      -->
    </section>
  </section>
</Layout>

<style scope lang="scss">

  body {
    height: 100vh;
  }

  :global( .header ) {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
  }

	.layout {
		margin: auto;
    padding: var(--space-base-huge) var(--space-base-large) var(--space-base-large) var(--space-base-large);
    max-width: 1024px;
	}

  .featured {
    position: relative;
    height: 100%;

    &-cards {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 24;

      display: flex;
      gap: var(--space-base-small);
      justify-content: center;

      padding: var(--space-base-large);
      box-sizing: border-box;

      background-color: rgba(255,255,255,0.95);

      font-weight: lighter;

      overflow-y: scroll;

      @media (max-width: 675px) {
        display: block;
      }

      &--closed {
        display: none;
      }

      & img {
        max-width: 100%;
        margin-bottom: var(--space-base-small);
      }
    }

    &-details {
      position: absolute;
      bottom: var(--space-base-huge);
      right: var(--space-base-huge);
      padding: var(--space-base-tiny) var(--space-base-large);
      background-color: white;

      & h2 {
        font-family: var(--font-secondary);
        color: var(--color-main-primary);
        text-decoration: none;
        font-weight: lighter;
      }

      & h3 {
        font-weight: lighter;
      }

      &:hover {
        color: var(--color-base-white);;
        cursor: var(--cursor-main--hover);
        background-color: var(--color-main-primary);

        h2 {
          color: inherit;
          text-decoration: underline;
        }
      }
    }

    &-main_image {
      width: 100%;
      height: 700px;
      object-fit: cover;
      height: 100%;
    }
  }
</style>
