---
import { shuffle } from "../utils/basic-javascript.js";

import Layout from "../layouts/Layout.astro";
import Tableau from '../components/organisms/homepage-tableau.astro';
import Exhibitions from '../components/organisms/homepage/exhibitions.svelte';
import Memories from '../components/organisms/homepage/memories.svelte';
import NFTRoom from '../components/organisms/homepage/the-room.svelte';
import Resources from '../components/organisms/homepage/resources.svelte';
import Footer from '../components/organisms/footer.astro';

import thisisalivingroom_image_data from "../data/thisisalivingroom-images.json";
const thisisalivingroom_images = thisisalivingroom_image_data["@graph"].filter( item => {
  return (
    item.tag.includes("Opening") 
    || item.tag.includes("Cover") 
    || item.tag.includes("Exhibition")
  )
});

import LeastFavWorkImageData from "../data/yourleastfavwork-images.json";
const leastfavwork_images = LeastFavWorkImageData["@graph"].filter( item => {
  return (
    item.tag.includes("Opening") 
    || item.tag.includes("Cover") 
    || item.tag.includes("Exhibition")
  )
});

function RandomSize() {
  let size = Math.floor(Math.random()*3)+1;
  return size;
}
function RandomSide() {
  let side = Math.floor(Math.random()*2)+1;
  switch( side ) {
    case 1:
      return "left"
    case 2:
      return "right"
  }
}
let memory_images = [];
thisisalivingroom_images.forEach(( item, index ) => {
  memory_images.push({
    src: `/exhibitions/thisisalivingroom/images/${ item.photo[0].filename }`,
    alt: "Photo from opening reception of This is a Living Room.",
    size: RandomSize(),
    side: RandomSide(),
  });
});
leastfavwork_images.forEach(( item, index ) => {
  memory_images.push({
    src: `/exhibitions/yourleastfavwork/images/${ item.photo[0].filename }`,
    alt: "Photo from opening reception of Your Least Fav Work.",
    size: RandomSize(),
    side: RandomSide(),
  });
});
memory_images = shuffle(memory_images);

const leastFavWorkFormUrl = "https://docs.google.com/forms/d/e/1FAIpQLSeAXU7XeqjlyWrvz3lx5VZRW4_Mq9wbQUJO6D8WE7V3iyIVvg/viewform?usp=sf_link";
---

<Layout title="House Gallery">
  <section class="intro">
    <!-- <h1><b>This is a House Gallery</b> is something about stuff and all that you know and it could prob be this long.</h1> -->
    <!-- <h1><b>This is a House Gallery</b> is a living room for artists, exhibitions, & parities.</h1> -->
    <h1><b>This is a House Gallery</b> serves as a project and exhibition place for close friends, local artists, writers, and curators.</h1>
    <a href="/about">
      <p class="intro-button">Find out who lives here</p>
    </a>
  </section>

  <Tableau 
    img_src="/exhibitions/tabletstablestombstones/showcards/showcard-main--front.jpg"
    img_alt="Showcard for the art exhibition 'Tablets Tables and Tombstones'."
    link="/schedule/tabletstablestombstones"
    heading="Tablets Tables and Tombstones"
    subheading="Come to the next show"
    animation="zoomslowinandout"
  />

<!--
  <Exhibitions 
    client:load
    previous_show="yourleastfavwork"
    upcoming_show="tabletstablestombstones"
  />
-->

  <Memories 
    client:load
    images={memory_images}
  />

  <!-- 
    <NFTRoom />
  -->
    <Resources />

  <Footer />

</Layout>

<style scope lang="scss">
  body {
    height: 100vh;
  }

  .intro {
    padding: calc(var(--space-section-gap)*4) 0 calc(var(--space-section-gap)*4);
    margin: 0 var(--space-page-gutter);
    box-sizing: border-box;
    /*
    min-height: 60vh;
    @media screen and (min-width: 768px) {
      min-height: 90vh;
    }
    */

    h1 {
      width: 95%;
      @media screen and (min-width: 768px) {
        width: 66%;
      }
      font-size: var(--font_size-title);
      line-height: 140%;
      b {
        letter-spacing: -2px;
      }
    }

    &-button {
      border: 1px solid black;
      color: black;
      padding: 8px 24px;
      width: fit-content;
      font-size: 18px;
      display: inline-block;
    }
    &-button:hover {
      background-color: black;
      color: white;
    }
  }

  :global( .header ) {
    position: sticky;
    width: 100%;
    box-sizing: border-box;
  }

  /*
	.layout {
		margin: auto;
    padding: var(--space-base-huge) var(--space-base-large) var(--space-base-large) var(--space-base-large);
    max-width: 1024px;
	}
  */
</style>
