---
import * as image_db from "../utils/image-db-handler.js";
import * as db from "../utils/db-handler.js";
import ExhDataRaw from "../data/exhibition-database.json";
import Layout from "../layouts/Layout.astro";
import ListingItem from "../components/organisms/exhibition-listing-item.svelte";
import { shuffle } from "../utils/basic-javascript.js";

let ExhData = JSON.parse(JSON.stringify( ExhDataRaw ));

// Curated set of least fav work images
// > get all least fav images
let leastfavwork_all_images = image_db.get_exhibition_images( "Your Least Fav Work" );
// > filter out detail images
let leastfavwork_images = leastfavwork_all_images.filter( item => {
    return (
      item.tag.includes("Opening") 
      || item.tag.includes("Cover") 
      || item.tag.includes("Exhibition")
    )
});
// > shuffle
leastfavwork_images = shuffle(leastfavwork_images);

// Curated set of living room images
// > get all living room
let thisisalivingroom_all_images = image_db.get_exhibition_images( "This is a Living Room" );
// > filter out detail images
let thisisalivingroom_images = thisisalivingroom_all_images.filter( item => {
    return (
      item.tag.includes("Opening") 
      || item.tag.includes("Cover") 
      || item.tag.includes("Exhibition")
    )
});
// > shuffle
thisisalivingroom_images = shuffle(thisisalivingroom_images);

// Curated set of living room images
// > get all living room
let ttt_all_images = image_db.get_exhibition_images( "Tablets Tables and Tombstones" );
// > filter out detail images
let ttt_images = ttt_all_images.filter( item => {
    return (
      item.tag.includes("Opening") 
      || item.tag.includes("Cover") 
      || item.tag.includes("Exhibition")
    )
});
// > shuffle
ttt_images = shuffle(ttt_images);

// Seralize single string of artists into array
// > this create a copy
// let ttt_artists = ExhData.ttt.artists.split(',').map( item => item.trim() );
// > this mutates the raw data
// ExhData.ttt.artists = ExhData.ttt.artists.split(',').map( item => item.trim() );
// > now that I deep copied it
let exhibition_keys = Object.keys( ExhData );
exhibition_keys.forEach( key => {
  ExhData[ key ].artist_list = ExhData[ key ].artists.split(',').map( item => item.trim() );
});
---

<Layout title="Memories | House Gallery" type="normal">
  <h1 class="title">Memories</h1>
  <ListingItem client:load
      title = { ExhData.ttt.title }
      title_slug = { ExhData.ttt.slug }
      gallery_images = { ttt_images }
      card_images = {{
        front_src: ExhData.ttt.showcard.front,
        back_src: ExhData.ttt.showcard.back,
      }}
      date = { ExhData.ttt.date }
      artists={ ExhData.ttt.artist_list }
  />

  <ListingItem client:load
      title = "Your Least Fav Work"
      title_slug = "yourleastfavwork"
      gallery_images = { leastfavwork_images }
      card_images = {{
         front_src: "/exhibitions/yourleastfavwork/showcards/showcard-main--front.jpg",
         back_src: "/exhibitions/yourleastfavwork/showcards/showcard-main--back.jpg",
       }}
      date="08.19 - 09.01"
      artists={ ExhData.yourleastfavwork.artist_list }
  />

  <ListingItem client:load
      title = "This is a Living Room"
      title_slug = "thisisalivingroom"
      gallery_images = { thisisalivingroom_images }
      card_images = {{
         front_src: "/exhibitions/thisisalivingroom/Showcard001.jpg",
         back_src: "/exhibitions/thisisalivingroom/showcard-back.jpg",
       }}
      date="06.23 - 07.07"
      artists={ ExhData.thisisalivingroom.artist_list }
  />
</Layout>

<style>
  .title {
    font-size: 20px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: 700;

    /* I like this but not yet! */
    display: none;
  }
</style>
