---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Schedule | House Gallery">
  <main class="layout">
    <section class="main-feature">

      <article class="large_exhibition">

        <section class="large_exhibition-info">
          <div>
            <h2>This is a living room</h2>
            <h3>Joel Lithgow & Joseph Blake</h3>
            <h5>06.23 - 07.07</h5>
          </div>

          <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MTQ3djVjbDZpbzZ0b3RnNW9mc25zMnY4bzYgY19iZnFlbGZ1bnU4MjA1cTIyY2hrNjAwNDhxa0Bn&tmsrc=c_bfqelfunu8205q22chk60048qk%40group.calendar.google.com">
            <section class="large_exhibition-add_to_cal">
              <button>June 23</button>
              <p>add to calendar</p>
            </section>
          </a>
        </section>

        <img src="/exhibitions/thisisalivingroom/Showcard001.png"></img>

      </article>

      <article class="small_exhibition">
        <section class="small_exhibition-info">
          <h3>Least Favorite Work</h3>
          <h4>Large Group Show</h4>
          <h5>07.14 - 07.28</h5>
        </section>
      </article>

      <article class="small_exhibition">
        <section class="small_exhibition-info">
          <h3>Tablets, Tables & Tombstones</h3>
          <h4>Annie Artell, Sophie Smith, Dareal Calderon</h4>
          <h5>08.04 - 08.18</h5>
        </section>
      </article>

    </section>

      <!--
    <section class="main-aside">
        <a href="/exhibitions/leastfavoritework">
          <h2>Open Call</h2>
          <img></img>
        </a>
    </section>
      -->

    <!--
      <section id="social" class="main-bottom">
        <h2>Follow us</h2>
        <h3><a href="instagram.com">@Thisisahousegallery</a></h3>
      </section>
    -->
  </main>
</Layout>

<style lang="scss">

	main {
		margin: auto;
    padding: var(--space-base-huge) var(--space-base-large) var(--space-base-large) var(--space-base-large);
    max-width: 1024px;

    @media (max-width: 675px) {
      padding: var(--space-base-medium) var(--space-base-small) var(--space-base-small) var(--space-base-small);
    }

    @media (max-width: 1024px) {
      padding: var(--space-base-large) var(--space-base-medium) var(--space-base-medium) var(--space-base-medium);
    }
	}

  .layout {
    display: grid;
    grid-template-areas:
      "header header"
      "feature aside"
      "bottom bottom";
    grid-template-columns: 3fr 1fr;

    @media (max-width: 1024px) {
      grid-template-areas:
        "header"
        "feature"
        "aside"
        "bottom";
    }
  }

  .head {
    grid-area: header;
    justify-self: right;
    text-align: right;
  }
  .main-feature {
    grid-area: feature;
    width: fit-content;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 675px) {
      padding: 0;
    }
  }
  .main-aside {
    grid-area: aside;
    padding: 32px 0;
    position: sticky;
    top: 350px;
    height: fit-content;
    z-index: 4;
    @media (max-width: 1024px) {
      position: relative;
      top: 0;
      justify-self: right;
      text-align: right;
    }
  }

  .main-bottom {
    grid-area: bottom;
    margin-top: 64px;

    h2 {
      color: black;
      align-self: right;
      font-weight: lighter;
      font-size: var(--font_size-small);
    }

    h3 {
      color: var(--color-main-primary);
      font-family: var(--font-secondary);
      font-weight: lighter;
    }
  }

	.head h1 {
		font-size: 16px;
		font-weight: 800;
		margin: 0;
	}
  .head p {
    font-size: 12px;
  }
  .head a {
    color: black;
    text-decoration: none;
  }
  .head a:hover {
    color: var(--color-main-primary);
    text-decoration: underline;
  }

  .head-nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: right;
  }
  .head-nav a {
    text-decoration: underline;
    color: var(--color-main-primary);
  }

  .small_exhibition {
    border-top: 1px solid var(--color-main-primary);
    padding-top: 64px;

    h3 {
      font-family: var(--font-secondary);
    }
    h3, h4, h5 {
      margin: 0 0 16px 0;
      font-weight: lighter;
    }

    &-add_to_cal {
      position: relative;
      align-self: start;
      float: right;
    }
    &-add_to_cal button {
      width: 64px;
      height: 64px;
      border: 1px solid var(--color-main-primary);
      background-color: var(--color-main-white);
    }
    &-add_to_cal button:hover {
      /* cursor: pointer; */
      background-color: var(--color-main-primary);
      color: white;
    }
    &-add_to_cal p {
      position: absolute;
      top: -12px;
      left: 72px;
      visibility: hidden;
      padding: 8px 12px;
      background-color: white;
      border: 1px solid var(--color-main-primary);
      z-index: 24;
    }
    &-add_to_cal:hover p {
      visibility: visible;
    }
    &-add_to_cal p::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--color-main-primary) transparent transparent;
    }

    & img {
      width: 100px;
      height: 100px;
      background-color: lightgray;
      float: right;
      margin: 0 0 24px 24px;
    }
  }

  .large_exhibition {
    display: flex;
    flex-direction: row;
    gap: var(--space-base-small);
    @media (max-width: 675px) {
      flex-direction: column;
    }

    display: block;

    &-info {
      display: flex;
      flex-direction: row;
      gap: 32px;
    }
    h2 {
      margin-top: 0;
      font-size: var(--font_size-title);
      font-family: var(--font-secondary);
      font-weight: lighter;
      text-decoration: none;
      /*
      &:hover {
        text-decoration: underline;
      }
      */
    }
    h3 {
      color: black;
      align-self: right;
      font-weight: lighter;
      font-size: var(--font_size-small);
    }
    h5 {
      font-weight: lighter;
    }
    & img {
      width: 470px;
      background-color: lightgray;

      @media (max-width: 1024px) {
        width: 350px;
      }
    }

    &-add_to_cal {
      position: relative;
      align-self: start;
    }
    &-add_to_cal button {
      width: 64px;
      height: 64px;
      border: 1px solid var(--color-main-primary);
      background-color: var(--color-main-white);
    }
    &-add_to_cal button:hover {
      /* cursor: pointer; */
      background-color: var(--color-main-primary);
      color: white;
    }
    &-add_to_cal p {
      position: absolute;
      top: -12px;
      left: 72px;
      visibility: hidden;
      padding: 8px 12px;
      background-color: white;
      border: 1px solid var(--color-main-primary);
    }
    &-add_to_cal:hover p {
      visibility: visible;
    }
    &-add_to_cal p::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--color-main-primary) transparent transparent;
    }
  }

  .main-aside h2 {
    color: var(--color-main-primary);
    font-family: var(--font-secondary);
    font-weight: lighter;
  }
  .main-aside img {
    width: 200px;
    height: 200px;
    background-color: lightgray;
  }
</style>
