---
import { Debug } from 'astro:components';

import * as db from "../../../../utils/db-handler.js";
import * as image_db from "../../../../utils/image-db-handler.js";
import Layout from "../../../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { slugify } from "../../../../utils/basic-javascript.js";

export function getStaticPaths() {
  return db.get_all_artwork().map( artwork => {
    
    // seralize data
    artwork["Images"] = image_db.get_artwork_images( artwork["ID"] );

    // global page data
    return {
      params: { 
        artist: slugify(artwork["Artist"]),
        artwork: slugify(artwork["Title"])
      },
      props: { item: artwork }   
    };
  });
}

// scoped page data
const { artist, artwork } = Astro.params;
const { item } = Astro.props;
---

<Layout title={`House Gallery | ${ item["Artist"] } | ${ item["Title"] }`}>
  <main>
    <section class="info">
      <a href="/artwork">
        <p>> artwork</p>
      </a>
      <p class="info__title">{ item["Title"] }</p>

      <hr />

      <p>Artist: <a class="info__name" href=`/artwork/${ slugify(item['Artist']) }`>{ item["Artist"] }</a></p>
      <p>Date: { item["Date"] }</p>
      <p>Size: { item["Size"] }</p>
      <p>Materials: { item["Materials"] }</p>
      <p>Exhibition: <a href={`/exhibitions#${slugify(item['Exhibitions'])}`}>{ item["Exhibitions"] }</a></p>

      <p>Images:</p>
      <section class="info__images">
        { item["Images"].map(( item ) => (
          <img 
            class="info__image" 
            src={ import(`../../../../media/exhibition-images/${ item.photo[0].filename }`) }
          />
          <!-- This sucks -->
          <!-- It uses this 200px size for the swap -->
          <!--
          <Image 
            class="info__image"
            src={ import(`../../../../media/exhibition-images/${ item.photo[0].filename }`) }
            alt=""
            densities={[1.5, 2]}
            width="200px"
            height="200px"
          />
          -->
        ))}
      </section>
    </section>

    <section class="main-image">
      <img class="main-image__image" src={`/media/exhibition-images/${ item["Cover"].photo[0].filename }`}>
      <p class="main-image__detail">{ item['Title'] } ({ item['Date'] }), { item['Artist'] }</p>
    </section>
  </main>
</div>

<script is:inline>
  main_image = document.querySelector(".main-image__image");
  thumbnails = document.querySelectorAll(".info__image");

  console.log( thumbnails );

  thumbnails.forEach( item => {
    item.addEventListener( "click", () => {
      main_image.src = item.src;
    });
  });
</script>

<style lang="scss">
  main {
    display: grid;
    grid-template-columns: 3fr 5fr;
    margin: var(--space-section-gap) var(--space-page-gutter);
    gap: var(--space-section-gap);
  }

  .main-image {
    height: 80vh;
    justify-self: right;

    & img {
      height: 100%;
    }

    &__detail {
      font-size: var(--font_size-detail);
      font_weight: var(--font_weight-light);
    }
  }

  .info {
    color: var(--color-surface-primary-text);

    &__name {
      font-size: var(--font_size-paragraph);
      display: inline-block;

      & p {
        margin: 0;
      }
    }

    &__title {
      font-size: var(--font_size-heading);
      font_weight: var(--font_weight-heavy);
    }

    &__images {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    &__image {
      width: auto;
      object-fit: cover;
    }

    &__image {
      aspect-ratio: 1/1;
      height: 77px;
    }
  }
</style>
