.hero-section {
  background: var(--color-white, #fefefe);
  padding: var(--size-layout-heading-spacing) var(--size-layout-gutter);
  border-bottom: 1px solid black;
}

.hero-section__intro {
  font-size: var(--font-size-title);
  font-family: var(--font-family-intro);
  line-height: var(--line-height-intro);
  font-weight: var(--font-weight-intro);
  width: 74%;
  margin-bottom: var(--size-layout-section-spacing);
}

h1.hero-section__intro b {
  font-weight: 700;
}

.hero-section__links {
  margin-top: var(--size-layout-element-spacing);
}

.hero-links {
  margin-top: var(--size-layout-item-gap);
}

.hero-links__title {
  font-size: var(--font-size-subheading);
  margin-bottom: var(--size-layout-heading-spacing);
  font-weight: var(--font-weight-subheading);
}

.hero-links__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--size-layout-element-spacing);
}

@media (max-width: 768px) {
  .hero-section__intro {
    width: 100%;
  }

  .hero-links__items {
    flex-direction: column;
  }
}
