{% load wagtailcore_tags wagtailimages_tags %}

{% with exhibition=value.exhibition.specific %}
    <div id="{{ exhibition.title|slugify }}" class="exhibition-listing-item exhibition-title">
        <section class="exhibition-header">
            <h3>{{ exhibition.get_formatted_date_short }}</h3>
            <section>
                <h2>{{ exhibition.title }}</h2>
                <section class="exhibition-header__artists">
                    {% for artist in exhibition.artists %}
                        <p>{{ artist.name }}</p>
                    {% endfor %}
                </section>
            </section>
        </section>

        {% with gallery_images=exhibition.get_all_gallery_images %}
            {% if gallery_images %}
                <div class="gallery-container gallery-columns-container masonry">
                    <div class="gallery-images">
                        {% for image_data in gallery_images|slice:":30" %}
                            {% image image_data.image width-400 as img %}
                            <img src="{{ img.url }}" alt="{{ image_data.caption|default:exhibition.title }}" loading="lazy" class="gallery-single-image" data-type="{{ image_data.type }}">
                        {% endfor %}
                        {% if gallery_images|length > 30 %}
                            <div class="gallery-more">+{{ gallery_images|length|add:"-30" }} more</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endwith %}