{% load wagtailimages_tags %}

<div class="exhibition-showcard">
    <div class="showcard-image">
        {% image value.front_image width-1440 as img %}
        <img src="{{ img.url }}" alt="The promotional showcard for the exhibition '{{ page.title }}' by This is a House Gallery." 
             width="{{ img.width }}" height="{{ img.height }}"
             loading="lazy" decoding="async">
    </div>
    
    {% if value.back_image %}
    <div class="showcard-image">
        {% image value.back_image width-1440 as img %}
        <img src="{{ img.url }}" alt="The back side of the promotional showcard for the exhibition '{{ page.title }}' by This is a House Gallery." 
             width="{{ img.width }}" height="{{ img.height }}"
             loading="lazy" decoding="async">
    </div>
    {% endif %}
</div>