---
---

<section id="testing" class="quickview_simple">
  <img></img>
  <h1>Big Text box</h1>
</section>

<script>
  const quickview_simple_elements = document.querySelectorAll(".quickview_simple");
  console.log(quickview_simple_elements);

  quickview_simple_elements.forEach(( item ) => {
    console.log( item );
    item.addEventListener( "quickview-simple--open", ({ detail }) => {
      console.log( "heard it!" );

      // debug data
      console.log( detail );
      console.log( item );

      // apply data
      // img element set html or something
    });
  });
</script>
