---
import { Image } from 'astro:assets';

/*
const processed_marketing_materials = import.meta.glob( "/src/media/marketing-materials/*", {
  query: { format: "webp;avif;jpg", w: "200;400;600;1200" },
  import: "default",
  eager: true
});
*/
const processed_marketing_materials = import.meta.glob("/src/media/marketing-materials/*.{jpeg,jpg,png,gif}");

const { 
  title, 
  subtitle,
  detail,
  image_path
} = Astro.props;
---
<article class="event-item">
  <section class="event-item__info">
    <p class="event-item__title">{ title }</p>
    <p class="event-item__subtitle">{ subtitle }</p>
    <p class="event-item__detail">{ detail }</p>
  </section>
  <Image 
    class="event-item__image quickview-item"
    src={ processed_marketing_materials[ image_path ]() }
    alt="" 
    width="1440"
    format="webp"
    role="img"
  />
</article>

<script>
  document.addEventListener("astro:page-load", () => {
    const quickview_items = document.querySelectorAll(".quickview-item");

    quickview_items.forEach( item => {
      item.addEventListener( "click", ( event ) => {
        event.target.classList.toggle("fullscreen");
      });
    });
  });
</script>

<style lang="scss">
  .event-item {
    padding-bottom: var(--space-base-large);
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
    gap: var(--space-base-large);

    &__image {
      max-width: 150px;
      max-height: 150px;
      aspect-ratio: 1/1;
      cursor: pointer;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: var(--space-base-small);
    }

    &__title {
      font-size: 2rem;
      font-weight: lighter;

      margin: 0;
    }

    &__subtitle {
      font-size: 1.17rem;
      font-weight: lighter;

      margin: 0;
    }

    &__detail {
      font-size: var(--font_size-small); 

      margin: 0;
    }
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: contain;
    box-sizing: border-box;
    background: white;
    padding: 32px;
    z-index: 32;
  }
</style>
