---
import Layout from "../../layouts/Layout.astro";
import ExhibitionItem from "../../components/organisms/schedule-listing-item.astro";
import TextSmall from "../../components/atoms/text-small.astro";
---

<Layout title="Schedule | House Gallery">
  <main class="layout">
    <section class="main-feature">

      <!--
      <ExhibitionItem 
         title="Your Least Fav Work"
         artists="Group Show"
         date="Party August 18th"
         link="/schedule/yourleastfavwork"
         google_cal_invite_url="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MWtmbTBmdDVkbWsyNjQ4N2M4NWFjajN2aTggdGhpc2lzYWhvdXNlZ2FsbGVyeUBt&tmsrc=thisisahousegallery%40gmail.com"
         cta="true"
         cta_label="Join Us"
         cta_tooltip="at the party"
         cta_url="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MWtmbTBmdDVkbWsyNjQ4N2M4NWFjajN2aTggdGhpc2lzYWhvdXNlZ2FsbGVyeUBt&tmsrc=thisisahousegallery%40gmail.com"
         img_url="/exhibitions/yourleastfavwork/showcards/showcard-main--front.jpg"
         img_alt="The promotional showcard for the exhibition 'Your Least Fav Work' with This is a House Gallery."
         featured="true" />
      -->

      <ExhibitionItem 
        title="Tablets, Tables & Tombstones"
        artists="Annie Artell, Sophie Smith, Dareal Calderon"
        date="November 11, 2023"
        link="/schedule/tabletstablestombstones"
        cta_label="RemindMe!"
        cta_tooltip="Add to calendar"
        cta_url="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MjE5aGFoczNmZGtscTA3YzQzanZqYW5nNTkgZjRiM2Q0NmZkOThlZGY1NzJlNTNjYzU5YjY3MTU5NzVlMjAyMWY2MzkzMTU0NjQyNTZlYjFiNjNhNDRlMWQ1NkBn&tmsrc=f4b3d46fd98edf572e53cc59b6715975e2021f639315464256eb1b63a44e1d56%40group.calendar.google.com"
         img_url="/exhibitions/tabletstablestombstones/showcards/showcard-main--front.jpg"
         img_alt="The promotional showcard for the exhibition 'Tablets Tables and Tombstones' with This is a House Gallery."
        featured="false"
      />

      <ExhibitionItem 
        title="This is my First Time"
        artists="Open Call Group Show"
        date="Spring 2024"
        cta="false"
        featured="false"
      />

      <section class="send_ideas">
        <h3>Have an idea for a show?</h3>
        <a href="mailto:thisisahousegallery@gmail.com">
          <p>> Send us your ideas</p>
        </a>
      </section>

    </section>

    <!--
    <section class="main-aside">
      <a class="cta" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeAXU7XeqjlyWrvz3lx5VZRW4_Mq9wbQUJO6D8WE7V3iyIVvg/viewform?usp=sf_link">
        <h2>Open Call</h2>
        <img></img>
      </a>
    </section>
    -->

    <section id="social" class="main-bottom">
      <h2>Follow us</h2>
      <a target="_blank" href="https://www.instagram.com/thisisahousegallery/">
        <h3>@Thisisahousegallery</h3>
      </a>
    </section>
  </main>
</Layout>

<style lang="scss">

	main {
		margin: auto;
    padding: var(--space-base-huge) var(--space-base-large) var(--space-base-large) var(--space-base-large);
    max-width: 1024px;

    @media (max-width: 675px) {
      padding: var(--space-base-medium) var(--space-base-small) var(--space-base-small) var(--space-base-small);
    }

    @media (max-width: 1024px) {
      padding: var(--space-base-large) var(--space-base-medium) var(--space-base-medium) var(--space-base-medium);
    }
	}

  .layout {
    display: grid;
    grid-template-areas:
      "header header"
      "feature aside"
      "bottom bottom";
    grid-template-columns: 3fr 1fr;

    @media (max-width: 1024px) {
      grid-template-areas:
        "header"
        "feature"
        "aside"
        "bottom";
    }
  }

  .head {
    grid-area: header;
    justify-self: right;
    text-align: right;
  }
  .main-feature {
    grid-area: feature;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--space-base-large);

    margin-top: 32px;

    @media (max-width: 675px) {
      padding: 0;
    }
  }

  .main-aside {
    grid-area: aside;
    padding: 32px 0;
    position: sticky;
    top: 350px;
    height: fit-content;
    z-index: 4;
    @media (max-width: 1024px) {
      position: relative;
      top: 0;
      justify-self: right;
      text-align: right;
    }
  }

  .main-bottom {
    grid-area: bottom;
    margin-top: 64px;

    h2 {
      color: black;
      align-self: right;
      font-weight: lighter;
      font-size: var(--font_size-small);
    }

    h3 {
      color: var(--color-main-primary);
      font-family: var(--font-secondary);
      font-weight: lighter;
    }
  }

	.head h1 {
		font-size: 16px;
		font-weight: 800;
		margin: 0;
	}
  .head p {
    font-size: 12px;
  }
  .head a {
    color: black;
    text-decoration: none;
  }
  .head a:hover {
    color: var(--color-main-primary);
    text-decoration: underline;
  }

  .head-nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: right;
  }
  .head-nav a {
    text-decoration: underline;
    color: var(--color-main-primary);
  }

  .main-aside h2 {
    color: var(--color-main-primary);
    font-family: var(--font-secondary);
    font-weight: lighter;
  }
  .main-aside img {
    width: 200px;
    height: 200px;
    background-color: lightgray;
  }
</style>
