---
import Layout from "../../layouts/Layout.astro";
import artist_data from "../../data/yourleastfavoritework-artists.json";

const title = "Your Least Favorite Work | House Gallery";

const header = "Your Least Fav Work";

const artists = [
  { name: "Diana Markessinis", cta: "https://markessinis.com", received: true},
  { name: "James Seevers", cta: "https://jamesseevers.com", received: true},
  { name: "Tess Aykanian", cta: "https://instagram.com/chiquitatessita", received: true},
  { name: "Megan SooHoo", cta: "https://meganvsoohoo.com", received: true},
  { name: "Jack Boucher", cta: "https://instagram.com/legomaniac1256", received: false },
  { name: "Mary Lou Grace", cta: "http://gracerobison.portfoliobox.net", received: true},
  { name: "Grace Scerni", cta: "https://instagram.com/gracescerni.art", received: false },
  { name: "Kiran Sahgal", cta: "https://instagram.com/yay_kiku", received: true},
  { name: "Annie Artell", cta: "https://instagram.com/idontkissartell", received: true},
  { name: "Mike Hazel", cta: "https://instagram.com/Therichyoungrebel", received: true},
  { name: "Aston Grieco", cta: "https://instagram.com/eggshellpress", received: true},
  { name: "Anke Larsen-Yskamp", cta: "https://instagram.com/skymapsalvage", received: false },
  { name: "Juan Huerta Coello", cta: "https://instagram.com/593___593", received: false },
  { name: "Devin A", cta: "https://instagram.com/Indevstrongarm", received: false },
  { name: "Vampire frog", cta: "https://instagram.com/Vampire_frog", received: true},
  { name: "Paige Warmington", cta: "https://pwarm.art", received: false },
  { name: "Dina Mendoza", cta: "https://instagram.com/Blvinthedream", received: false },
  { name: "Sarah Portnell-Speir", cta: "https://instagram.com/sarahpixels", received: true},
  { name: "Manuel Noah Angeja", cta: "https://Manuelangeja.com", received: true},
  { name: "Joel Lithgow", cta: "https://instagram.com/joellithgow", received: true},
  { name: "Joseph Blake", cta: "https://onequicktrick.com", received: true},
]
artists.sort((a, b) => {
  if (a.name < b.name) {
    return -1;
  }
  if (a.name > b.name) {
    return 1;
  }
  return 0;
});

const date = "Party August 18th";
const open_call_url = false; /* "https://docs.google.com/forms/d/e/1FAIpQLSeAXU7XeqjlyWrvz3lx5VZRW4_Mq9wbQUJO6D8WE7V3iyIVvg/viewform?usp=sf_link" */
const google_cal_invite_url = "https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MWtmbTBmdDVkbWsyNjQ4N2M4NWFjajN2aTggdGhpc2lzYWhvdXNlZ2FsbGVyeUBt&tmsrc=thisisahousegallery%40gmail.com"
---

<Layout title={ title }>
  <main class="layout">
    <section class="layout-main">
      <section class="info"> 
        <h1>{ header }</h1>

        { google_cal_invite_url ?
          <h2>> <a target="_blank" href={ google_cal_invite_url }>{ date }</a></h2>
          :
          <h2>> { date }</h2>
        }

        <p class="description">An open call show where artists submitted their least favorite artwork. Come see everything that was in a storage box now in a bigger box we call our living room.</p>

        <hr></hr>

        <section class="artists">
          { artist_data.map(( artist ) => (
            artist["Received Work"] == "True" && (
              artist["Website"] ? (
                <h3><a target="_blank" href={ "https://"+artist["Website"] }>{ artist["Name"] }</a></h3>
              ) : artist["Instagram"] ? (
                <h3><a target="_blank" href={ "https://instagram.com/"+artist["Instagram"] }>{ artist["Name"] }</a></h3>
              ) : (
                <h3>{ artist["Name"] }</h3>
              )
            )
          ))}
        </section>
      </section>
    </section>

    <section class="layout-aside">
      <section class="images">
        <img src="/exhibitions/yourleastfavoritework/Showcard001.jpg" alt="A zoomed in view of the promotional showcard for the exhibition 'Your Least Fav Work' by This is a House Gallery."></img>
        <img src="/exhibitions/yourleastfavoritework/Showcard-back.jpg" alt="A zoomed in view of the promotional showcard for the exhibition 'Your Least Fav Work' by This is a House Gallery."></img>
      </section>
    </section>
  </main>
</Layout>

<style lang="scss">

  /* Guess I gotta do this everywhere until I refactor the layout */
  main {
    margin: auto;
    padding: var(--space-base-huge) var(--space-base-large) var(--space-base-large) var(--space-base-large);
    max-width: 1024px;

    @media (max-width: 675px) {
      padding: var(--space-base-medium) var(--space-base-small) var(--space-base-small) var(--space-base-small);
    }

    @media (max-width: 1024px) {
      padding: var(--space-base-large) var(--space-base-medium) var(--space-base-medium) var(--space-base-medium);
    }

    & h1 {
      font-size: 2rem;
      font-weight: lighter;
    }
    & h2 {
      font-size: 1.17rem;
      font-weight: lighter;
    }
    & h3 {
      font-size: 1rem;
      font-weight: lighter;
    }
    & p {
      font-weight: lighter;
    }

    & hr {
      margin: var(--space-base-large) 0;
    }
  }

  .layout {
    display: grid;
    grid-template-areas:
      "main" "aside";
    grid-template-columns: 3fr 1fr;
    gap: var(--space-base-huge);

    @media (max-width: 1024px) {
      grid-template-areas:
        "header"
        "aside";
    }
  }

  .info {
  }


  .description {
    width: 75%;
  }

  .artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-base-small);
    margin: var(--space-base-large) 0;

    & h3 {
      margin: 0;
      padding: 0;
    }
  }

  .images {
    & img {
      margin-bottom: var(--space-base-small);
    }
  }

</style>
