---
import svg from "../../../media/icons/external-link.svg?raw";
---

<div class="external-link-icon">
  <Fragment set:html={ svg } />
</div>

<style lang="scss" is:global>
  .external-link-icon {
    svg {
      width: 16px;
      height: 16px;
    }
  }
</style>
