---
  import { Image } from 'astro:assets';
  import { slugify } from "../../utils/basic-javascript.js";

  let { 
    title, 
    date, 
    gallery_images, 
    artists, 
    card_front_src, 
    card_back_src, 
  } = Astro.props;

  const processed_images = import.meta.glob("/src/media/exhibition-images/*.{jpeg,jpg,png,gif}");

  function isArtwork( image_data ) {
    return image_data.tag.includes( "Cover" );
  }
---

<div id={ slugify( title ) } class="exhibition-listing-item exhibition-title">
  <section class="exhibition-header">
    <section>
      <h2>{ title }</h2>

      <section class="exhibition-header__artists">
        { artists.map( name => (
          <a href={ `/artwork/${ slugify( name ) }` }>
            <p>{ name }</p>
          </a>
        ))}
      </section>
    </section>

    <h3>{ date }</h3>
  </section>
  <section class="exhibition-media">
    <section class="exhibition-card">
      <img 
        src={ card_front_src }
        alt="The promotional showcard for the exhibition '{ title }' by This is a House Gallery."
        class="quickview-item"
      />
      <img 
        src={ card_back_src }
        alt="The back side of the promotional showcard for the exhibition '{ title }' by This is a House Gallery."
        class="quickview-item"
      />
    </section>

    <section class="exhibition-images">
      { gallery_images.map( photo => (
        <>
          { isArtwork( photo ) ? (
          <a href={ `/artwork/${ slugify( photo.creator ) }/${ photo["InstanceID"] } `}>
            <Image 
              src={ processed_images[ `/src/media/exhibition-images/${ photo.photo[0].filename }` ]() }
              alt="" 
              width="1440"
              format="webp"
              role="img"
              aria-label={ photo.alt }
            />
          </a>
          ) : (
            <Image 
              src={ processed_images[ `/src/media/exhibition-images/${ photo.photo[0].filename }` ]() }
              class="quickview-item" 
              alt="" 
              width="1440"
              format="webp"
              role="img"
              aria-label={ photo.alt }
            />
          )
        </>

        <!-- Render all as same -->
        <!--
          <Image 
            src={ processed_images[ `/src/media/exhibition-images/${ photo.photo[0].filename }` ]() }
            class="quickview-item" 
            alt="" 
            width="1440"
            format="webp"
            role="img"
            aria-label={ photo.alt }
          />
        -->

      ))}
    </section>
  </section>
</div>

<style lang="scss">
  .exhibition-listing-item {
    margin-bottom: var(--space-base-large);
  }

  .exhibition-header {
    display: flex;
    gap: var(--space-base-medium);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-base-large);
    border-bottom: 1px solid var(--color-base-black);
    position: sticky;
    top: 35px;
    background: white;
    z-index: 1;

    & h2, h3 {
      font-weight: var(--font_weight-small);
    }
    & h2 {
      font-size: var(--font_size-large);
      margin-bottom: var(--space-base-medium);
    }
    & h3 {
      font-size: var(--font_size-small); 
    }

    &__artists {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--space-base-small);
      margin-bottom: var(--space-base-medium);

      p {
        margin: 0;
      }
    }
  }

  .exhibition-media {
    display: flex;
    gap: var(--space-base-large);

    @media (max-width: 675px) {
      display: block;
    }
  }


  .exhibition-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-base-small);
    position: sticky;
    top: 170px;
    height: fit-content;

    @media (max-width: 675px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: var(--space-base-medium);
      position: relative;
      top: 0;
    }

    & img {
      max-height: 40vh;
      margin: auto;
    }
  }

  .exhibition-images {
    flex: 5;
    display: flex;
    gap: var(--space-base-tiny);
    flex-wrap: wrap;

    & img {
      max-height: 35vh;
      width: auto;

      @media (max-width: 675px) {
        max-height: 20vh;
      }
    }
  }

  .quickview-item {
    &:hover {
      cursor: pointer;
    }
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: contain;
    box-sizing: border-box;
    background: white;
    padding: 32px;
    z-index: 32;
  }

  .exhibition-card:has(.fullscreen) {
    position: relative;
  }

</style>

<script>
  document.addEventListener("astro:page-load", () => {
    let quickview_items = document.querySelectorAll(".quickview-item");

    quickview_items.forEach( item => {
      item.addEventListener( "click", ( event ) => {
        event.target.classList.toggle("fullscreen");
      });
    });
  });
</script>
