---
import { getImage } from "astro:assets"

const marketing_images_glob = import.meta.glob( "/src/media/marketing-materials/*", { 
  query: { format: "webp;avif;jpg", w: "200;400;600;1200", picture: "" },
  import: 'default'
})

const { img_src, img_alt, link, heading, subheading, animation } = Astro.props

/*
console.log( img_src );
console.log( marketing_images_glob );

const background_image_optimized = await getImage({ src: marketing_images_glob[ img_src ] })
style={`background-image: url("${ marketing_images_glob[ img_src ] }")`}>
*/

// const background_image_optimized = await getImage({ src: img_src })
// style={`background-image: url("${ background_image_optimized.src }")`}>
---
<section 
  class:list={["homepage-tableau", animation]} 

  <a href={ link }>
    <section class="homepage-tableau__details">
      <h2><i>{ heading }</i></h2>
      <h3>{ subheading }</h3>
    </section>
  </a>
</section>

<style lang="scss">
  @keyframes zoomslowinandout {
    from {background-size: 500%}
    to {background-size: 5%}
  }
  .zoomslowinandout {
    animation-name: zoomslowinandout;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes panleftandright {
    from {background-position-x: -100%}
    to {background-position-x: 100%}
  }
  .panleftandright {
    animation-name: panleftandright;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  .homepage-tableau {
    position: relative;
    height: 100vh;

    background-image: url("/src/media/marketing-materials/a_freak_relevant-tableau.jpeg");
    background-position: center;

    &__image {
      width: 100%;
      height: 700px;
      object-fit: cover;
      height: 100%;
    }

    &__details {
      position: absolute;
      bottom: var(--space-base-huge);
      right: var(--space-base-huge);
      padding: var(--space-base-tiny) var(--space-base-large);
      background-color: white;

      & h2 {
        font-family: var(--font-secondary);
        color: var(--color-main-primary);
        text-decoration: none;
        font-weight: lighter;
      }

      & h3 {
        font-weight: lighter;
      }

      &:hover {
        color: var(--color-base-white);;
        cursor: var(--cursor-main--hover);
        background-color: var(--color-main-primary);
       
        & h2 {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
</style>
