---
import {ViewTransitions} from 'astro:transitions';
// import StyleTokens from '../styles/tokens.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="We turned our living room into a gallery.">
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/media/house-favicon.png" />
    <!-- <StyleTokens /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <ViewTransitions />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJVPDN335F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NJVPDN335F');
    </script>
	</head>

	<body>
		<slot />
	</body>
</html>

<style is:global>
  @font-face {
    font-family: Rubik;
    src: url("/Rubik-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: Merriweather;
    src: url("/Merriweather-Regular.ttf");
  }
  @font-face {
    font-family: SourceCodePro;
    src: url("/fonts/SourceCodePro.ttf");
  }
  :root {
    /* font styles */
    --font-main: SourceCodePro, Sans-serif;
    --font-secondary: SourceCodePro, serif;

    --font_weight-small: lighter;

    /* set fonts */

    /* color styles */
    --color-base-brown: brown;
    --color-base-lightgray: lightgray;
    --color-base-tan: oldlace;
    --color-base-white: white;
    --color-base-black: #222222;
    /* set color */
    --color-main-primary: var(--color-base-black);
    --color-main-subtle: var(--color-base-black);
    --color-surface-main: var(--color-base-white);
    --color-surface-warm: var(--color-base-tan);

    /* screen sizes */
    --screen-mobile: 425px;
    --screen-tablet: 675px;
    --screen-laptop: 1024px;

    /* cursor styles */
    --cursor-style-crazytriangle: url("/cur197.png"), auto;
    --cursor-style-tree: url("/nat294.cur"), auto;
    --cursor-style-tree--hover: url("/hol141.png"), auto;
    --cursor-style-oxyblack: url("/cursors/oxyblack-default.cur"), auto;
    --cursor-style-oxyblack--hover: url("/cursors/oxyblack-pointer.cur"), auto;
    /* set cursor */
    --cursor-main: default;
    --cursor-main--hover: pointer;
  }

  :root {
    /* spacing styles */
    --space-base-ginormous: 128px;
    --space-base-huge: 64px;
    --space-base-large: 32px;
    --space-base-medium: 24px;
    --space-base-small: 16px;
    --space-base-tiny: 8px;

    /* font sizes */
    --font_size-huge: 64px;
    --font_size-large: 32px;
    --font_size-medium: 24px;
    --font_size-small: 16px;
    --font_size-tiny: 12px;
  }

  /*_____Responsive_Values_____*/

  /* Mobile */
  @media (max-width: 420px) {
    :root {
      --space-page-gutter: var(--space-base-small);
      --space-section-gap: var(--space-base-medium);

      --font_size-title: var(--font_size-large);
      --font_size-heading: var(--font_size-medium);
      --font_size-detail: var(--font_size-medium);
      --font_size-paragraph: var(--font_size-small);
     }
  }

  /* Tablet */
  @media (min-width: 420px) and (max-width: 767px) {
    :root {
      --space-page-gutter: var(--space-base-medium);
      --space-section-gap: var(--space-base-medium);

      --font_size-title: var(--font_size-large);
      --font_size-heading: var(--font_size-medium);
      --font_size-detail: var(--font_size-medium);
      --font_size-paragraph: var(--font_size-small);
    }
  }

  /* Laptop */
  @media (min-width: 768px) and (max-width: 1439px) {
    :root {
      --space-page-gutter: var(--space-base-huge);
      --space-section-gap: var(--space-base-large);

      --font_size-title: var(--font_size-large);
      --font_size-heading: var(--font_size-medium);
      --font_size-detail: var(--font_size-medium);
      --font_size-paragraph: var(--font_size-small);
    }
  }

  /* Desktop */
  @media (min-width: 1440px) and (max-width: 2559px) {
    :root {
      --space-page-gutter: var(--space-base-ginormous);
      --space-section-gap: var(--space-base-large);

      --font_size-title: var(--font_size-large);
      --font_size-heading: var(--font_size-medium);
      --font_size-detail: var(--font_size-medium);
      --font_size-paragraph: var(--font_size-small);
    }
  }

  /* 4k */
  @media (min-width: 2560px) {
    :root {
      --space-page-gutter: calc(var(--space-base-ginormous)*2);
      --space-section-gap: var(--space-base-huge);

      --font_size-title: var(--font_size-large);
      --font_size-heading: var(--font_size-medium);
      --font_size-detail: var(--font_size-medium);
      --font_size-paragraph: var(--font_size-small);
    }
  }

  html {
    background-color: var(--color-surface-main);
    cursor: var(--cursor-main);
  }
  body {
    margin: 0;
  }
  a, button {
    color: var(--color-main-primary);
    cursor: var(--cursor-main);
  }
  a {
    text-decoration: none;
  }
  a:hover, button:hover {
    cursor: var(--cursor-main--hover);
    text-decoration: underline;
  }
  h1, h2, h3, h4, h5, h6, p, li, button {
    font-family: var(--font-main);
    font-weight: var(--font_weight-small);
  }

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
  img {
    vertical-align: top;
    max-width: 100%;
  }
  hr {
    border-bottom: 1px solid var(--color-main-primary);
  }

  .no_scroll {
    height: 100vh;
    overflow: hidden;
  }

</style>
