---
import BaseLayout from "../layouts/Base.astro";
import Header from "../components/Header.astro";

const { title, type } = Astro.props;
---

<BaseLayout title={ title }>
  <Header />
    <div class:list={["body", type]}>
    <slot />
  </div>
</BaseLayout>

<style lang="scss">
  .body.normal {
    margin: var(--space-heading-gap) 0;
    padding: 0 var(--space-page-gutter);
  }
</style>
