---
import artwork_database from "../../../data/artwork-database.json";
import { slugify } from "../../../utils/basic-javascript.js";
import { get_artists_work, get_artists_work_with_images } from "../../../utils/db-handler.js";
import { get_artwork_images } from "../../../utils/image-db-handler.js";
import Layout from "../../../layouts/Layout.astro";

export function getStaticPaths() {
  return artwork_database.map(( item ) => {
    item["Slug"] = slugify(item["Artist"]);
    let artworks = get_artists_work_with_images(item["Artist"]);
    
    return {
      params: { artist: item["Slug"] },
      props: { artworks, name: item["Artist"] }
      };
  });
}

const { artist } = Astro.params;
const { artworks, name } = Astro.props;

---
<Layout title={`House Gallery | ${ name }`}>
  <main class="page-artist">
    <section class="page-artist__title">
      <h1>{ name }</h1>
      <hr/>
    </section>

    <section class="page-artist__artworks">
      { artworks.map(( artwork ) => (
        <>
          <section class="page-artist__artwork">
            <p class="page-artist__heading">
              <a href={`/artwork/${ artist }/${ slugify(artwork["Title"]) }`}>
                { artwork["Title"] }
              </a>
            </p>
            <p>Date: { artwork["Date"] }</p>
            <p>Size: { artwork["Size"] }</p>
            <p>Materials: { artwork["Materials"] }</p>
            <p>Exhibition: <a href={`/exhibitions#${slugify(artwork['Exhibitions'])}`}>{ artwork["Exhibitions"] }</a></p>

            {/* TODO: I think it's better to utilize a svelte image with quickview component (which utilizes an onclick) */}
            <section class="page-artist__artwork-images">
              { artwork["Images"].map(( item ) => (
                <img class="page-artist__artwork-image" src={`/media/exhibition-images/${ item.photo[0].filename }`}>
              ))}
            </section>
          </section>

          <hr/>
        </>
      ))}
    </section>
  </main>
</Layout>

<style lang="scss">
  .page-artist {
    padding: var(--space-section-gap) var(--space-page-gutter);

    &__title {
      font-size: var(--font_size-title);
      font_weight: var(--font_weight-heavy);
      margin-bottom: var(--space-section-gap);
    }

    &__heading {
      font-size: var(--font_size-heading);
      border: 1px solid var(--color-main-primary);
      background-color: var(--color-surface-primary-background);
      color: var(--color-surface-primary-text);
      width: fit-content;
      margin: 0;
      & a {
        padding: var(--size-button-padding);
        display: block;
      }

      &:hover {
        background-color: var(--color-surface-secondary-background);
        color: var(--color-surface-secondary-text);
      }
    }

    &__artworks {
      display: flex;
      flex-direction: column;
      gap: var(--space-section-gap);
    }

    &__artwork {
      // padding: var(--space-section-gap) 0;
      // border-bottom: 1px solid var(--color-surface-primary-accent);
    }

    &__artwork-images {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--space-base-small);
    }

    &__artwork-image {
      max-width: 200px;
    }
  }
</style>
