---
import * as db from "../../../utils/db-handler.js";
import * as image_db from "../../../utils/image-db-handler.js";
import Layout from "../../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { slugify } from "../../../utils/basic-javascript.js";
import InstagramLogo from "../../../components/atoms/social-icons/instagram.astro";
import ExternalLinkIcon from "../../../components/atoms/icons/external-link.astro";

export async function getStaticPaths() {
  return db.get_all_artists().map( data => {

    // seralize data
    data["Slug"] = slugify( data["Name"] );
    data["Artwork"] = db.get_artists_work_with_images( data["Name"] );
    data["Artwork"].forEach( (artwork, index) => {
      artwork["Cover"] = image_db.get_artwork_cover( artwork["ID"] );
    });

    // global page data
    return {
      params: { artist: data["Slug"] },
      props: { data }
    };
  });
}

// scoped page data
const { artist } = Astro.params;
const { data } = Astro.props;

const processed_images = import.meta.glob("/src/media/exhibition-images/*.{jpeg,jpg,png,gif}");
---

<Layout title={`House Gallery | ${ data["Name"]}`}>
  <main class="page-artist">
    <section class="page-artist__title">
      <h1>{ data["Name"]}</h1>

      { data["Instagram"] && 
        <a class="page-artist__instagram" target="_blank" href={`https://www.instagram.com/${ data['Instagram']}`}>
          <p>{ data["Instagram"] }</p> 
          <InstagramLogo />
        </a>
      }

      { data["Website"] && 
        <a class="page-artist__website" target="_blank" href={`https://${ data['Website']}`}>
          <p>{ data["Website"] }</p>
          <ExternalLinkIcon />
        </a>
      }
      <hr/>
    </section>

    <section class="page-artist__artworks">
      { data["Artwork"].map(( artwork ) => (
        <>
          <section class="page-artist__artwork">
            <section class="page-artist__cover-image">
              <Image 
                src={ processed_images[`/src/media/exhibition-images/${ artwork["Cover"].photo[0].filename }`]() }
                alt=""
                densities={[1.5, 2]}
                width=400
                height=400
              />
            </section>

            <section class="page-artist__artwork-info">
              <p class="page-artist__heading">
                <a href={`/artwork/${ artist }/${ slugify(artwork["ID"]) }`}>
                  <span set:html={ artwork["Title"] } />
                </a>
              </p>
              <p>Date: { artwork["Date"] }</p>
              { artwork["Size"] !== "" && (
                <p>Size: { artwork["Size"] }</p>
              )}
              <p>Materials: { artwork["Materials"] }</p>
              <p>Exhibition: <a href={`/exhibitions#${slugify(artwork['Exhibitions'])}`}>{ artwork["Exhibitions"] }</a></p>
            </section>
          </section>

          <hr/>
        </>
      ))}
    </section>
  </main>
</Layout>

<style lang="scss">
  .page-artist {
    padding: var(--space-section-gap) var(--space-page-gutter);

    &__title {
      font-size: var(--font_size-title);
      font-weight: var(--font_weight-heavy);
      margin-bottom: var(--space-section-gap);
    }

    &__heading {
      font-size: var(--font_size-heading);
      border: 1px solid var(--color-main-primary);
      background-color: var(--color-surface-primary-background);
      color: var(--color-surface-primary-text);
      width: fit-content;
      margin: 0;
      & a {
        padding: var(--size-button-padding);
        display: block;
      }

      &:hover {
        background-color: var(--color-surface-secondary-background);
        color: var(--color-surface-secondary-text);
      }
    }

    &__artworks {
      display: flex;
      flex-direction: column;
      gap: var(--space-section-gap);
    }

    &__artwork {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: var(--space-element-gap);
    }

    &__artwork-images {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--space-base-small);
    }

    &__artwork-image {
      max-width: 200px;
    }

    &__cover-image img {
      object-fit: cover;
      height: auto;
    }

    &__instagram, &__website {
      width: fit-content;
      display: flex;
      gap: var(--space-item-gap);
      align-items: center;

      p {
        font-size: var(--font_size-heading);
      }
    }
  }

</style>
